body {
    /* Because of the fixed navbar */
    padding-top: 50px;
}

/* For the split Projects dropdown in the navbar */
.navbar-nav > li.dropdown-split-right > a {
  padding-left: 3px;
}
.navbar-nav > li.dropdown-split-left > a {
  padding-right: 3px;
}