# Jekyll - the "_site" directory is basically a compiled version of the website.
_site/


# Sublime Text - workspace files are user-specific
*.sublime-workspace
# For now, I'll leave out the Sublime project file.
*.sublime-project