# GIT Ignore for corbanmailloux.github.io (corb.co).

# Jekyll - the "_site" directory is basically a compiled version of the website.
_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache/

# Windows
Thumbs.db

# Ruby
Gemfile.lock
.ruby-version
.ruby-gemset
