---
title: Projects

custom_js:
  - projects.js
---

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
            <h4>Just some of my projects. Most (and more) available on my <a href="https://github.com/corbanmailloux/" target="_blank"><i class="fa fa-github"></i> GitHub</a>.</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>
            Select tags below to filter the list of projects.
        </p>
        {% assign all_tags = "" %}
        {% for project in site.projects %}
            {% assign proj_tags = project.tags | join: '|' | append: '|' %}
            {% assign all_tags = all_tags | append: proj_tags %}
        {% endfor %}
        {% assign all_tags = all_tags | split: '|' | sort | uniq %}

        <div class="panel panel-default">
            <div class="panel-heading">
                 <span class="pull-right"><a href="#" id="select-all">(Select All)</a>  <a href="#" id="select-none">(Select None)</a></span>
                <h3 class="panel-title">Tags to Include</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" id="filter-form">
                    {% for tag in all_tags %}
                        <div class="col-sm-3">
                            <div class="checkbox-inline">
                                <label>
                                    <input name="{{ tag | url_encode }}" type="checkbox" checked> {{ tag }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            {% assign projects = site.projects | sort: 'date' %}
            {% for project in projects reversed %}

            {% assign tag_data = "" %}
            {% for tag in project.tags %}
                {% assign url_tag = tag | url_encode | append: '|' %}
                {% assign tag_data = tag_data | append: url_tag %}
            {% endfor %}
            
            <a href="{{ project.url }}" class="list-group-item project" data-tags="{{ tag_data }}">
                <div class="row">
                    <div class="col-xs-8">
                        <h4 class="list-group-item-heading">
                        {{ project.title }}
                        </h4>
                    </div>
                    <div class="col-xs-4">
                        <span class="pull-right text-nowrap"><small>{{ project.date | date: "%b %e, %Y" }}</small></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 margin-bottom-col">
                        <p class="list-group-item-text">{{ project.subtitle }}</p>
                    </div>
                    <div class="col-sm-5">
                        {% for tag in project.tags %}
                        <div class="label label-default pull-right project-tag-label">{{ tag }}</div>
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
