---
title: Projects
---

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
            <h4>Just some of my projects. Most (and more) available on my <a href="https://github.com/corbanmailloux/" target="_blank"><i class="fa fa-github"></i> GitHub</a>.</h4>
        </div>

        {% assign projectgroups = site.projectgroups | sort: "weight" %}
        {% for projectgroup in projectgroups reversed %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="panel-title-clickable" data-toggle="collapse" data-parent="#projects" href="#{{ projectgroup.group | escape }}">
                        {{ projectgroup.title }}
                    </a>
                </h4>
            </div>
            <div id="{{ projectgroup.group | escape }}" class="panel-collapse collapse in">

                <div class="list-group">
                    {% for project in site.projects %}{% if project.group == projectgroup.group %}
                    <a href="{{ project.url }}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ project.title }}</h4>
                        <p class="list-group-item-text">{{ project.subtitle }}</p>
                    </a>
                    {% endif %}{% endfor %}
                </div>
            </div>
        </div><!-- /{{ projectgroup.title }} -->
        {% endfor %}

        <div class="list-group">
            {% assign projects = site.projects | sort: 'date' %}
            {% for project in projects reversed %}
            <a href="{{ project.url }}" class="list-group-item clearfix">
                <span>
                    <h4 class="list-group-item-heading">
                        {{ project.title }}
                        <span class="pull-right"><small>{{ project.date | date: "%B %e, %Y" }}</small></span>
                    </h4>
                    <span class="pull-right">
                        {% for tag in project.tags %}
                        <span class="label label-default">{{ tag }}</span>
                        {% endfor %}
                    </span>
                </span>
                <p class="list-group-item-text">{{ project.subtitle }}</p>
            </a>
            {% endfor %}
        </div>
<!--

<div class="list-group">
  <a href="#" class="list-group-item clearfix">
    <span class="glyphicon glyphicon-file"></span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    <span class="pull-right">
      <button class="btn btn-xs btn-info">CCS</button>
      <button class="btn btn-xs btn-warning">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </span>
  </a>
</div>-->

    </div>
</div>
