	          <div class="footer">
            <div class="contact">
              <p>
                Corban Mailloux<br />
                Software Engineer<br />
                web@corb.co
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/corbanmailloux">github.com/corbanmailloux</a><br />
                <a href="https://twitter.com/corbco">twitter.com/corbco</a><br />
              </p>
            </div>
          </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>