<div class="btn-group btn-group-justified">
    <a class="btn btn-social-icon btn-success" href="mailto:web@corb.co" target="_blank">
        <i class="fa fa-envelope"></i>
    </a>

    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/corbanmailloux" target="_blank">
        <i class="fa fa-linkedin"></i>
    </a>

    <a class="btn btn-social-icon btn-github" href="https://github.com/corbanmailloux" target="_blank">
        <i class="fa fa-github"></i>
    </a>

    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/corban.mailloux" target="_blank">
        <i class="fa fa-facebook"></i>
    </a>

    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/corbco" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>

    <a class="btn btn-social-icon btn-google" href="https://www.google.com/+CorbanMailloux12" target="_blank">
        <i class="fa fa-google-plus"></i>
    </a>
</div>
