/*
 * Insert any additional CSS/SCSS here.
 */

// For the split Projects dropdown in the navbar
.navbar-nav > li.dropdown-split-right > a {
  padding-left: 3px;
}

.navbar-nav > li.dropdown-split-left > a {
  padding-right: 3px;
}

.btn-group-social {
  padding-bottom: 10px;
}

// For the <spoiler> on ritweek
.monospace {
    font-family: "Courier New", Courier, monospace;
}

.project-tag-label {
  margin: 0.1em 0.1em;
}

@media (max-width: 767px) {
    .margin-bottom-col {
        margin-bottom: 0.5rem;
    }
}