/*
 * Insert any additional CSS/SCSS here.
 */

// For the split Projects dropdown in the navbar
.navbar-nav > li.dropdown-split-right > a {
  padding-left: 3px;
}

.navbar-nav > li.dropdown-split-left > a {
  padding-right: 3px;
}

.btn-group-social {
  padding-bottom: 10px;
}

// For the <spoiler> on ritweek
.monospace {
    font-family: "Courier New", Courier, monospace;
}

// Project's page panels
.panel-title-clickable {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}