{% include head.html %}
<div class="d-flex flex-column align-items-start pb-1 mt-4 mb-3 bottom-border">
    <div class="d-flex w-100 justify-content-end">
        <h1 class="font-weight-normal mr-auto mb-3">{{ page.title }}</h1>
        <small class="text-nowrap">{{ page.date | date: "%b %e, %Y" }}</small>
    </div>
    <div class="d-flex flex-sm-row flex-column w-100 justify-content-end">
        <h5 class="font-weight-normal mr-auto mb-1">{{ page.subtitle }}</h5>
        <div class="d-flex flex-row justify-content-end">
            {% for tag in page.tags %}
            <div class="badge badge-default ml-1 py-1 align-self-end">{{ tag }}</div>
            {% endfor %}
        </div>
    </div>
</div>

{{ content }}
{% include foot.html %}